.btn-save, .btn-neon{
  position: relative;
  padding: 10px 20px;
  margin: 0 15px;
  color: cyan;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
}

.btn-save:hover, .btn-neon:hover{
  background: cyan;
  color: #fff;
  box-shadow: 0 0 50px cyan;
  transition-delay: 0.5s;
}

.btn-save:active{
  background: none;
  color: cyan;
  box-shadow: 0 0 50px cyan;
  transition: 0.25s;
}

.btn-save:before, .btn-neon:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid cyan;
  border-left: 2px solid cyan;
  transition: 0.5s;
}

.btn-save:hover:before, .btn-neon:hover:before{
  width: 100%;
  height: 100%;
}

.btn-save:after, .btn-neon:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid cyan;
  border-right: 2px solid cyan;
  transition: 0.5s;
}

.btn-save:hover:after, .btn-neon:hover:after{
  width: 100%;
  height: 100%;
}
