@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Sans-Serif;
}

html, body, .content{
  width: 100%;
  height: 100%;
}

body{
  position: absolute;
  background: #29282d;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  z-index: 1;
}

.content{
  position: absolute;
  padding: 10px 20px;
  z-index: 2;
}

header{
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 30px;
  color: #fff;
  background: #1c1b20;
  padding-left: 10px;
  z-index: 3;
}
header a{
  text-align: center;
  padding: 7.5px 20px;
}
header .message{
  transform: translateX(100px) translateY(7.5px)
}

/*content*/
.gnrct, .avcct {
  display: flex;
  position: relative;
  padding-top: 50px;
  width: 100%;
}
.gnrct .bot, .gnrct .fb,
.avcct .csl, .avcct .fb {
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0);
  color: #fff;
}

.group{
  text-align: center;
  /*color: #28272d;*/
  color: rgba(255,255,255,0.5);;
  text-shadow: 0px 0px 2px #777;
}

.input {
  display: flex;
  padding-left: 300px;
  transform: translateY(-25px);
}
input {
  width: 90%;
  padding: 5px 10px;
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,0);
  color: #fff;
}

select {
  padding: 5px 10px;
  background: #29282d;
  border: 1px solid rgba(255,255,255,5);
  color: #fff;
}
ion-icon{
    font-size: 20px;
    transform: translateY(5px) translateX(4px);
}
#del{
    transform: translate(60px);
}
.boxad{
    border: 1px solid rgba(255,255,255,0);
    background: rgba(255,255,255,0.05);
}
#adbox{
  margin-top: 5px;
}
.addadmin{
  padding-left: 300px;
  transform: translateY(-20px);
}

.checkboxd {
    
    margin: 0px 300px;
    border-radius: 50px;
    position: relative;
}
.checkboxd:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 14px;
    height: 2px;
    width: 50px;
    background: #111;
}
.checkboxd label {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
 
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #ddd;
}
.checkboxd input[type=checkbox]:checked + label {
    left: 44px;
    background: #26ca28;
}
.checkbox{
    display: none;
}

#terminal{
  padding-top: 40px;
  background: #000;
}
/*Footer*/
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  background: #1c1b20;
  z-index: 100;
}

footer .button{
  position: relative;
  right: 0px;
  display: flex;
  background: none;
  width: 100%;
  text-align: right;
  padding: 10px 20px;
}

footer .button div{
  background: #000;
  display: flex;
  text-align: right;
  align-items: right;
}

footer .button #start{
  position: relative;
  text-align: center;
  transition: all .5s ease;
  padding: 10px 20px;
  background: #27d2f7;
}

footer .button #start:hover{
  background: #963eeb;
}

footer .button #save{
  position: relative;
  text-align: center;
  padding: 10px 20px;
  transition: all .5s ease;
  margin: 0 20px;
  box-shadow: 0 0 0 1px #fff;
}

footer .button #save:hover{
  background: #fff;
  color: #000;
}
/*OnLoad*/
.onload {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  text-align: center;
  align-items: center;
  /*background: url("https://s1.uphinh.org/2021/07/22/dark-hexagonal-background-with-gradient-color_79603-1409.jpg");*/
  background: rgba(33,38,57,0);
  position: absolute;
  padding: 10px 100px;
  z-index: 1000;
  animation: onload 5.5s;
}
@keyframes onload {
  0%, 95%{
    background: rgba(33,38,57,1);
    display: flex;
  }
  100% {
    background: rgba(33,38,57,0);
    display: none;
  }
}

.loadd{
    padding-top: 40%;
    display: flex;
}

.onload img{
  width: 100px;
  height: 100px;
  transform: translateY(-35px);
  padding-right: 5px;
}

.onload span {
  width: 100%;
  height: 25px;
  border-radius: 60px;
  box-shadow: 0 0 0 1px #fff;
}

.onload span .load{
  transform: translateX(2.5px) translateY(2.5px);
  padding: 10px 30px;
  width: 98.5%;
  height: 5px;
  border-radius: 60px;
  animation: load 5s;
}
@keyframes load {
  0% {
    width: -1%;
    background: linear-gradient(90deg, cyan, cyan);
  }
  20% {
    width: 20%;
    background: linear-gradient(90deg, cyan, purple);
  }
  100% {
    width: 98.5%;
    background: linear-gradient(90deg, cyan, purple);
  }
}